<title>MY APP</title>
<head>

<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>


<h1>The words below are numerological equivalent of:   <%= subWord %> --- <%= num %> </h1>
<div class="flex-container">
<% for(var i=0; i<wordBox.length; i++) {%>
<div>
<%= wordBox[i] %> 

</div>
<% } %>
</div>


<form action="/subWord" method="POST">
<input type="text" placeholder="Please insert word here" name="myWord">
<button type="submit">Submit</button>
</form>










</body>
</html>