<title>MY APP</title>
</head>
<body>
May Node and Express be with you.

<h1>The words below are numerological equivalent of:   <%= subWord %> --- <%= num %> </h1>
<ul class="valueBox">
<% for(var i=0; i<wordBox.length; i++) {%>
<li class="valueBox">
<span><%= wordBox[i] %> </span>

</li>
<% } %>
</ul>


<form action="/subWord" method="POST">
<input type="text" placeholder="Please insert word here" name="myWord">
<button type="submit">Submit</button>
</form>








</body>
</html>